* {
   font-family: Arial, Helvetica, sans-serif;
}

.box {
   background-color: #7575751a;
   box-shadow: 3px 2px 5px 0px rgb(115 114 114 / 43%);
   border: rgb(222 223 230) outset .5px;  
   height: fit-content;
   padding-left: .11px !important; 
   padding-right: .11px  !important; 
   padding-top: .11px !important;
   border-radius: 4px !important;
}

.country{
  margin: 8px; 
}

.country p{
   padding-left: 5px;
}

.select {
    max-width: 100%;
    vertical-align: top;
    font-size: large;
    font-family: sans-serif;
    letter-spacing: 0.75px !important;
    border-radius: 2.5px;
    padding-left: 10px;
    background-color:  rgb(223, 222, 208) !important;
    box-shadow: 3px 2px 5px 0px rgb(115 114 114 / 33%);
    border: rgb(22, 23, 26) solid 1px !important; 
}

    option {
    color:rgb(25, 30, 41);
    font-family: sans-serif; 
    background-color:  rgb(231, 231, 231) !important; 
    letter-spacing: 1px !important;
    }


#add-state{
   height: 2.25rem !important;
   padding: 3px 20px;
   margin-top: 3px;
   margin-left: 7px;
   color: rgb(23, 26, 32);
   border: #797979 solid .9px !important; 
   background-color: rgb(208, 213, 219) !important;
   box-shadow: 3px 2px 5px 0px rgb(115 114 114 / 33%);
}


::selection {
   color:rgb(32, 39, 49);
   background: rgba(255, 251, 0, 0.664);
 }

 #page-heading{
    font-size: 125%;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    letter-spacing: 0.9px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    color: #f1f0f0 !important;
 }

 h1{
   color: rgb(28, 28, 28);
   font-family: sans-serif;
   text-align: center;
   letter-spacing: .75px;
   background: rgb(103, 114, 136);
   color: #f1f0f0;
 
   border:  rgb(117 117 117 / 32%)  4px !important;
   padding: 0 !important;
   /* margin: 0px -8px !important;  */
   margin-top: 0px;
   margin-bottom: 9px;
   border-radius: 4px 4px 0px 0px !important;
 }

   h2{
   color: #eaecee !important;
   font-family: sans-serif;
   text-align: center;
   letter-spacing: .75px;
   background: rgb(103, 114, 136);
   border:  rgb(117 117 117 / 32%) outset 2px !important;
   width: 100%;
   margin-top: 0px !important;
   margin-bottom:  12px !important;
   margin-left: -8px !important; 
   margin-right: -8px !important; 
   border-radius: 4px !important;
 }

 .container{
    padding-left: 1%;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 3px;
    background-color: rgb(247, 249, 252);
    margin-top: 0px !important; 
 }

 .box h1{
 margin-left: -1px !important; 
 margin-right: -1px !important; 
 padding: 4px 12px !important;
 box-shadow: 3px 2px 5px 0px rgb(115 114 114 / 43%);
}

#state-heading{
   text-align: left !important;
   padding-left: 1.5rem !important;
}

 .section{
margin: 10px;
padding: 10px;
 }

.subtitle {
  margin-bottom: 14px !important; 
  text-shadow: rgb(70 64 59 / 29%) 0px 0px 1px;
  color: white !important;
  background-color: none !important;
  letter-spacing: .66px !important;
} 

.column{
   padding-left: 0px; 
   padding-right: 0px; 
   padding-top: 0px;
   /*display: flex; */ 
}

.covid-fact {
   margin-left: 9px !important; 
}

.container .title{
   padding: 0px !important;
   margin-bottom: 0px !important;
   border-radius: 4px 4px 0px 0px !important;
   margin-right: 0px !important;
}

.container:first-child{
   padding: 0px !important;
}

#search-section{
   margin-top: 0px !important;
}


footer {
    padding-bottom: 10px;
}
.footer {
    padding-bottom: 10px;
    padding-top:10px;
}

html { height: 100%; }
body {
        min-height:100%; 
        position:relative; 
        padding-bottom:[footer-height] 
    }
.footer { 
        position: absolute; 
        left: 0 ; right: 0; bottom: 0; 
        height:[footer-height] 
        }

#state-section{
   max-width: 950px;
   margin-left: 2rem;
}

#container-wrapper{
   box-shadow: rgba(44, 44, 46, 0.068) 0.5px 0 1px 1.5px !important;
   margin: 3px !important;
   margin-bottom: 100px !important;
   padding: 0px !important;
   border-radius: 4px 4px 0px 0px !important;
   height: fit-content !important;
}


.title{
   color: #e4e2e2 !important;
   font-weight: 600px;
   text-shadow: rgb(71, 69, 69) 1px .4px .4px;
}

#word-section-columns{
   align-content: center;
   padding-left: 3px !important;
}

#world-subtitle{
   background: transparent !important;
   border-radius: 2px !important;
   border: none !important;
   color: #4a4a4a !important;   
}

#content-container{
   margin-bottom: 0px !important;
   height: fit-content !important;
   border-radius: 4px 4px 0px 0px !important;
}

html{
   background-color: rgba(115, 128, 134, 0.534);
}

#top-container{
   border-radius: 4px 4px 0px 0px !important;  
}

.sep{
   margin: 1.5px;
   background-color: rgba(185, 185, 185, 0.068);
}

.seperator{
   margin: 1.5px;
   background-color: rgba(185, 185, 185, 0.068);
   width: 50%;
   margin-left: 1rem;
}

#state-section-columns{
   font-size: x-large;
   flex-basis: content !important;
}

#state-section-columns .column{
   flex-basis: content;
}